* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(247, 247, 247);
}

h1 {
    font-size: 70px;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 40px;
}

.top6 {
    background-color: #FFFCD1;
    border: 3px solid #C2AC62;
    display: flex;
    flex-direction: column;
}

.top1-3, .top4-6 {
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.top6 h3 {
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.journ {
    display: flex;
    justify-content: space-around;
}

.journ h2 {
    font-size: 40px;
}

.journ div {
    width: 50%;
    margin-left: 3%;
}

.journ p {
    text-indent: 3%;
    width: 80%;
}

.journ img {
    border: 10px solid #C2AC62;
}