* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(247, 247, 247);
}

.circles {
    display: flex;
    justify-content: space-around;
}

.circle1, .circle2, .circle3 {
    background-color: #FFFCD1;
    border: 3px solid #F4D684;
    border-radius: 100%;
    padding: 6rem;
    width: 5rem;
}

.circle1 {
    display: flex;
    text-align: center;
}

a {
    display: flex;
    justify-content: center;
}

.heads {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.heads div {
    display: flex;
    flex-direction: column;
}

.circleinfo {
    margin-top: 4rem;
    background-color: #ffd153;
}

.circle1 a:hover {
    background-color: #F4D684;
    border-radius: 1rem;
}

.circle2 a:hover {
    background-color: #F4D684;
    border-radius: 1rem;
}

.circle3 a:hover {
    background-color: #F4D684;
    border-radius: 1rem;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.heads p {
    font-size: 20px;
}

.pas {
    position: absolute;
}